<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <div class="rounded-lg px-6 py-2">
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-cyan-100 my-3 list-none rounded-md px-4 py-2 font-serif"><%= messages.error[i] %></p>
        <% } %>
    <% } %>
    </div>
    <div class="flex gap-1 mx-10 mt-6 bg-gray-50">
        <span>></span>
        <a href="/elections" class="text-cyan-800 hover:text-cyan-600 font-serif hover:text-indigo-900">Here are all the elections!!!</a>
        <span>></span>
    </div>
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium"><%= title %></h3>
        <% if (launch) { %>
            <div class="py-8">
                <h4 class="text-2xl my-5 font-medium">Your election has been launched!!!</h4>
                <h2 class="my-2 text-lg text-black flex gap-1">Voters can vote from the url:</h2>
                <a href="/e/<%= url %>/" class="py-1 hover:text-cyan-800 text-cyan-600 font-serif hover:text-indigo-900 hover:text-indigo-900">https://localhost:3000/e/<%= url %></a>
            </div>
        <% } %>
        <div class="mt-4">
            <h2 class="my-2 text-lg text-black flex gap-1 font-serif">Your election has <span class="text-cyan-600 font-serif"> <%= nq %> </span> questions in the ballot</h2>
            <% if (!launch) { %>
                <a href="/elections/<%= id %>/questions" class="py-3 hover:text-cyan-800 text-cyan-600 font-serif">Manage your questions here</a>
            <% } %>
        </div>
        <div class="mb-8 bt-4">
            <h2 class="my-3 text-lg text-black flex gap-1 font-serif">Your election has <span class="text-cyan-600 font-serif"> <%= nv %> </span> registered voters.</h2>
            <a href="/elections/<%= id %>/voters" class="py-3 hover:text-cyan-800 text-cyan-600 font-serif hover:text-indigo-900">Manage your voters here</a>
        </div>
        <% if (!launch) { %>
            <div class="bg-cyan-800 rounded w-fit px-4 py-1 hover:bg-cyan-600 font-serif">
                <a href="/elections/<%= id %>/preview" class="text-white font-serif hover:text-indigo-900">Preview & Launch election from here</a>
            </div>
        <% } %>
        <% if (launch) { %>
            <div class="flex gap-5">
                <div class="bg-cyan-800 rounded w-fit px-4 py-1 hover:bg-cyan-600 ease-linear transition-all duration-150">
                    <a href="" class="text-white font-serif hover:text-indigo-900">Preview results here</a>
                </div>
                <div class="bg-cyan-800 rounded w-fit px-4 py-1 hover:bg-cyan-600 ease-linear transition-all duration-150">
                    <a href="" class="text-white font-serif hover:text-indigo-900">End Election</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>